.sidenav {
  display: block;
  position: absolute;
  top: 0;
  width: 160px;
  left: 0;
}

.topnav {
  height: 90px;
  width: 100%;
  background-color: #F9F9F9;
  padding-top: 16px;
}

#welcome {
  border: 1px solid grey;
  background-color: #F9F9F9;
  margin: 10px 0 20px 0;
}

#bodycontent {
  display: block;
  position: relative;
}

img {
  max-width: 100%;
}
